<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="~/css/stui_block.css" type="text/css" />
    <link rel="stylesheet" href="~/css/stui_block_color.css" type="text/css" />
    <link rel="stylesheet" href="~/css/stui_default.css" type="text/css" />
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/stui_default.js"></script>
    <script type="text/javascript" src="~/js/stui_block.js"></script>
    <script type="text/javascript" src="~/js/home.js"></script>
    <script type="text/javascript" src="~/js/stui_full.js"></script>
    <script>var maccms = { "path": "" };</script>
</head>
<body>
    <header class="stui-header__top clearfix top-fixed headroom--not-bottom top-fixed-up headroom--top" id="header-top">
        <div class="container">
            <div class="row">
                <div class="stui-header_bd clearfix">
                    <div class="stui-header__logo">
                        <a class="logo" href="/" style="background: url(&quot;/images/logo.png&quot;) no-repeat;"></a>
                    </div>
                    <div class="stui-header__side">
                        <ul class="stui-header__user">
                            <li><a class="mac_user" href="javascript:;"><i class="icon iconfont icon-account"></i></a></li>
                        </ul>
                        <script type="text/javascript" src="~/js/jquery.autocomplete.js"></script>
                        <div class="stui-header__search">
                            <form id="search" name="search" method="get" action="/search">
                                <input type="text" id="wd" name="key" class="mac_wd form-control mac_input" value="" placeholder="请输入关键词..." autocomplete="off" />
                                <button class="submit" id="searchbutton" type="submit" name="submit"><i class="icon iconfont icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <ul class="stui-header__menu type-slide" id="categories">
                        <li id="index"><a href="/">首页</a></li>
                        <li><a href="/list/dianying.html">电影</a></li>
                        <li><a href="/list/dianshiju.html">连续剧</a></li>
                        <li><a href="/list/zongyi.html">综艺</a></li>
                        <li><a href="/list/donghua.html">动漫</a></li>
                        <li><a href="/message">留言</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <script type="text/javascript">$(".stui-header__user li,.stui-header__menu li").click(function () { $(this).find(".dropdown").toggle(); if (stui.browser.useragent.mobile) { $(".MacPlayer").toggle(); } }); if (stui.browser.useragent.mobile) { $(".stui-header__logo .logo").css("background", "url(/images/logo.png) no-repeat"); } else { $(".stui-header__logo .logo").css("background", "url(/images/logo.png) no-repeat"); }</script>
    <div class="container">
        @RenderBody()
    </div>
    <div class="container" id="footer" style="width:100%;background:#000;">
        <div class="row" style="width=90%;margin-left:5%">
            <div class="stui-foot clearfix masked">
                <div class="col-pd text-center">
                    <p>
                        本站提供的最新电影和电视剧资源均系收集于各大视频网站,本站只提供web页面服务,并不提供影片资源存储,
                        <br />
                        也不参与录制、上传 若本站收录的节目无意侵犯了贵司版权，请给网页底部邮箱地址来信,我们会及时处理和回复,谢谢。
                    </p>
                    <br />
                    <p>
                        <a href="#" rel="nofollow">Copyright ©2015-2020  All Rights Reserved </a>
                        <a href="mailto:hunk5431@gmail.com">联系邮箱：hunk5431@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul class="stui-extra clearfix">
        <li><a class="backtop" href="javascript:scroll(0,0)" style="display: none;"><i class="icon iconfont icon-less"></i></a></li>
        <li class="hidden-xs"><a class="copylink" href="javascript:;"><i class="icon iconfont icon-share"></i></a></li>
        <li class="visible-xs"><a class="copylink" href="javascript:;"><i class="icon iconfont icon-share"></i></a></li>
        <li class="hidden-xs">
            <span><i class="icon iconfont icon-qrcode"></i></span>
            <div class="sideslip">
                <div class="col-pd text-center">
                    <p id="qrcode" title="#">
                    </p>
                    <p class="margin-0">扫码用手机访问</p>
                </div>
            </div>
        </li>
        <li><a href="/message"><i class="icon iconfont icon-comments"></i></a></li>
    </ul>
    <div class="hide">

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
