@{
    ViewData["Title"] = $"{ViewBag.video.Name}完整版免费在线观看 - 千频影视";
    ViewData["KeyWords"] = $"{ViewBag.video.Name}在线免费观看";
    ViewData["Description"] = $"{ViewBag.video.Describes}";
}

    <div class="row">
        <div class="col-lg-wide-75 col-xs-1 padding-0">
            <!--电影信息-->
            <div class="stui-pannel stui-pannel-bg clearfix">
                <div class="stui-pannel-box clearfix">
                    <div class="stui-pannel_bd clearfix">
                        <div class="stui-content col-pd clearfix">
                            <div class="stui-content__thumb">
                                <a class="stui-vodlist__thumb picture v-thumb" href="/detail/@ViewBag.Video.Id" title="@ViewBag.Video.Name"><img class="lazyload" data-original="@ViewBag.Video.Image"/><span class="play active hidden-xs"></span><span class="pic-text text-right">@ViewBag.Video.Remark</span></a>
                            </div>
                            <div class="stui-content__detail">
                                <h1 class="title">@ViewBag.Video.Name</h1>
                                <div class="score">
                                    <div class="star">
                                        @{ 
                                            var rate = ViewBag.Video.Rate * 10;
                                            var ratestr = ViewBag.Video.Rate.ToString("#0.0");
                                        }
                                        <span class="star-cur" id="score" style="width: @rate%;"></span>
                                    </div>
                                    <span class="branch">@ratestr</span>
                                </div>
                                <p class="data hidden-xs"><span class="text-muted">类型：</span><a href="#">@ViewBag.Video.CategoryTypeNames</a>&nbsp;<span class="split-line"></span><span class="text-muted">地区：</span><a href="#">@ViewBag.Video.AreaName</a>&nbsp;<span class="split-line"></span><span class="text-muted">年份：</span><a href="#" target="_blank">@ViewBag.Video.Year</a>&nbsp;<span class="split-line"></span><span class="text-muted">语言：</span><a href="#">@ViewBag.Video.Language</a>&nbsp;</p>
                                <p class="data"><span class="text-muted">主演：</span><a href="#" style="word-wrap:break-word; word-break:break-all;">@ViewBag.Video.Actor</a>&nbsp;</p>
                                <p class="data"><span class="text-muted">导演：</span><a href="#" target="_blank">@ViewBag.Video.Dierctor</a>&nbsp;</p>
                                <p class="data"><span class="text-muted">状态：</span><a href="#" target="_blank">@ViewBag.Video.Remark</a>&nbsp;</p>
                                <p class="data hidden-xs"><span class="text-muted">更新：</span>@ViewBag.Video.LastModificationTime</p>

                                <div class="play-btn clearfix">
                                    <div class="share bdsharebuttonbox hidden-sm hidden-xs pull-right"></div>
                                    <a href="javascript:void(0);" class="mac_ulog btn btn-default">收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var play in ViewBag.play)
            {
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box b playlist mb">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head bottom-line active clearfix">
                                <span class="nore text-muted pull-right">来源：@play.ResourceName</span>
                                <h3 class="title">@play.ResourceName</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd col-pd clearfix">
                            <ul class="stui-content__playlist clearfix">
                                @for (int i = 1; i <= play.PlayAddresses.Length; i++)
                                {
                                    <li><a href="/play/@ViewBag.Video.Id?number=@i&resource=@play.ResourceId"><span>@i</span></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <div class="stui-pannel stui-pannel-bg clearfix">
                <div class="stui-pannel-box">
                    <div class="stui-pannel_hd">
                        <div class="stui-pannel__head clearfix">
                            <h3 class="title"><img src="~/images/icon_30.png" />剧情介绍</h3>
                        </div>
                    </div>
                    <div class="stui-pannel_bd">
                        <div class="detail col-pd">
                            <span class="detail-sketch">@Html.Raw(@ViewBag.Video.Describes)</span>
                            <span class="detail-content" style="display: none;">@Html.Raw(@ViewBag.Video.Describes)</span>
                            @*<a class="detail-more" href="javascript:;">详情<i class="icon iconfont icon-moreunfold"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>

        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head clearfix">
                        <h3 class="title"><img src="~/images/icon_6.png" />猜你喜欢</h3>
                    </div>
                </div>
                <div class="stui-pannel_bd">
                    <ul class="stui-vodlist__bd clearfix">
                        @foreach (var recommend in ViewBag.recommends)
                        {
                            <li class="col-md-5 col-sm-4 col-xs-3">
                                <div class="stui-vodlist__box">
                                    <a class="stui-vodlist__thumb lazyload" href="/detail/@recommend.Id" title="@recommend.Name" data-original="@recommend.Image"><span class="play hidden-xs"></span><span class="pic-text text-right">@recommend.Remark</span></a>
                                    <div class="stui-vodlist__detail">
                                        <h4 class="title text-overflow"><a href="/detail/@recommend.Id" title="@recommend.Name">@recommend.Name</a></h4>
                                        <p class="text text-overflow text-muted hidden-xs">@recommend.Actor</p>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box clearfix">
                <div class="stui-pannel_bd clearfix">
                    <div class="stui-pannel_hd">
                        <div class="stui-pannel__head clearfix">
                            <h3 class="title"><img src="~/images/icon_30.png" />影片评论</h3>
                        </div>
                    </div>
                    <div class="stui-pannel_bd">
                        <div class="mac_comment" data-id="34219" data-mid="1">
                            该功能暂未开启...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
            <!--右边-->
            <div class="col-lg-wide-25 col-xs-1 stui-pannel-side visible-lg">
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="text-center">
                                <p class="text-muted">扫码用手机观看</p>
                                <p id="qrcode2" style="padding-left: 35px;" title="#">
                                </p>
                                <p class="text-muted margin-0">分享到朋友圈</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head clearfix">
                                <a class="more text-muted pull-right cc_pointer" href="/series/@ViewBag.tops[0].SeriesTypeId">更多<i class="icon iconfont icon-more"></i></a>
                                <h3 class="title"><img src="~/images/icon_12.png" /><a href="/series/@ViewBag.tops[0].SeriesTypeId" target="_blank"></a>热播榜</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd">
                            <ul class="stui-vodlist__media active col-pd clearfix">
                                <li>
                                    <div class="thumb">
                                        <a class="m-thumb stui-vodlist__thumb lazyload" href="/detail/@ViewBag.tops[0].Id" title="@ViewBag.tops[0].Name" data-original="@ViewBag.tops[0].Image"></a>
                                    </div>
                                    <div class="detail detail-side">
                                        <h4 class="title"><a href="#"><i class="icon iconfont icon-more text-muted pull-right"></i>@ViewBag.tops[0].Name</a></h4>
                                        <p class="font-12"><span class="text-muted">类型：</span>@ViewBag.tops[0].CategoryTypeNames</p>
                                        <p class="font-12 margin-0"><span class="text-muted">地区：</span>@ViewBag.tops[0].AreaName</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="stui-vodlist__rank col-pd top-text clearfix">
                                @{
                                    string[] classes = new string[] { "badge-first", "badge-second", "badge-third", "", "", "", "", "", "", "" };
                                }
                                @for (int index = 1; index <= ViewBag.tops.Count; index++)
                                {
                                    <li class="over-text"><a href="/detail/@ViewBag.tops[index - 1].Id" title="@ViewBag.tops[index - 1].Name"><span class="text-muted pull-right hidden-md">@ViewBag.tops[index - 1].Remark</span><span class="badge @classes[index-1]">@index</span>@ViewBag.tops[index - 1].Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head clearfix">
                                <a class="more text-muted pull-right" href="#">更多<i class="icon iconfont icon-more"></i></a>
                                <h3 class="title"><img src="~/images/icon_5.png" />推荐专题</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd">
                            <ul class="stui-vodlist clearfix"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>