@{
    ViewData["Title"] = "千频影视_最新电影电视剧手机免费在线观看";
    ViewData["KeyWords"] = "千频影视,手机影院,最新电影";
    ViewData["Description"] = "千频影视是最新电影和热播电视剧免费在线观看的手机影院，这里为影迷提供全网最新最全无广告热门电影，最新热门美剧、韩剧、日剧等剧集在线观看！";
}

    
    <div class="row">
        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head clearfix">
                        <h3 class="title"><img src="~/images/icon_24.png" />最近更新</h3>
                    </div>
                </div>
                <div class="stui-pannel_bd clearfix">
                    <!--6个-->

                    <ul class="stui-vodlist clearfix">
                        @foreach (var recent in ViewBag.recents)
                        {
                            <li class="col-md-6 col-sm-4 col-xs-3">
                                <div class="stui-vodlist__box">
                                    <a class="stui-vodlist__thumb lazyload" href="/detail/@recent.Id" title="@recent.Name" data-original="@recent.Image"><span class="play hidden-xs"></span><span class="pic-text text-right">@recent.Remark</span></a>
                                    <div class="stui-vodlist__detail">
                                        <h4 class="title text-overflow"><a href="/detail/@recent.Id" title="@recent.Name">@recent.Name</a></h4>
                                        <p class="text text-overflow text-muted hidden-xs">@recent.Actor</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="stui-vodlist__text col-pd hidden-xs clearfix">
                        <!--12个-->
                        @foreach (var recent in ViewBag.recentsSim)
                        {
                            <li class="col-md-6 col-xs-4 padding-0"><a class="top-line-dot text-overflow" href="/detail/@recent.Id" title="@recent.Name"><i class="icon iconfont icon-more pull-right text-muted"></i>@recent.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @foreach (var recommend in ViewBag.recommends)
        {
            <!--从此处遍历 分类-->
            <div class="stui-pannel stui-pannel-bg clearfix">
                <div class="stui-pannel-box clearfix">
                    <div class="stui-pannel_hd">
                        <div class="stui-pannel__head clearfix">
                            <a class="more text-muted pull-right" href="/series/@recommend.SeriesType.Id">更多<i class="icon iconfont icon-more"></i></a>
                            <h3 class="title"><img src="~/images/@recommend.SeriesType.Icon" /><a href="/series/@recommend.SeriesType.Id">@recommend.SeriesType.Name</a></h3>
                            <!--电影分类-->
                            <ul class="nav nav-text pull-right hidden-sm hidden-xs">
                                @foreach (var category in recommend.CategoryTypes)
                                {
                                    <li><a href="/series/@recommend.SeriesType.Id?category=@category.Id" class="text-muted">@category.Name</a><span class="split-line"></span></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="stui-pannel_bd clearfix">
                        <div class="col-md-wide-4 col-xs-1 padding-0">
                            <div class="carousel carousel_default col-pd flickity-enabled is-draggable" tabindex="0">
                                <div class="flickity-viewport" style="height: 0px; touch-action: pan-y;">
                                    <div class="flickity-slider" style="left: 0px;"></div>
                                </div>
                                <ol class="flickity-page-dots"></ol>
                            </div>
                            <div class="hidden-sm hidden-xs clearfix">
                                <!--top 1 图片-->
                                <ul class="col-xs-wide-45 stui-vodlist col-pd clearfix">
                                    <li><a class="stui-vodlist__thumb lazyload" href="/detail/@recommend.RecommendTops[0].Id" title="@recommend.RecommendTops[0].Name" data-original="@recommend.RecommendTops[0].Image"><span class="play active hidden-xs"></span><span class="pic-tag pic-tag-h">Top1</span></a></li>
                                </ul>
                                <!--电影排行榜-->
                                <ul class="col-xs-wide-55 stui-vodlist__rank col-pd clearfix">
                                    @{
                                        string[] classes = new string[] { "badge-first", "badge-second", "badge-third", "", "", "", "", "", "", "" };
                                    }
                                    @for(int index=1;index <= recommend.RecommendTops.Count;index++)
                                    {
                                        <li><a href="/detail/@recommend.RecommendTops[index-1].Id" title="@recommend.RecommendTops[index-1].Name"><div class="text text-overflow hidden-xs;width:60%" style="word-break: keep-all;white-space:nowrap;"><span class="badge @classes[index-1]">@index</span>@recommend.RecommendTops[index-1].Name</div></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-wide-6 col-xs-1 padding-0">
                            <!--电影带图片推荐6个-->
                            <ul class="stui-vodlist clearfix">
                                @foreach (var video in recommend.Recommends)
                                {
                                    <li class="col-md-4 col-sm-4 col-xs-3">
                                        <div class="stui-vodlist__box">
                                            <a class="stui-vodlist__thumb lazyload" href="/detail/@video.Id" title="@video.Name" data-original="@video.Image"><span class="play hidden-xs"></span><span class="pic-text text-right">@video.Name</span></a>
                                            <div class="stui-vodlist__detail">
                                                <h4 class="title text-overflow"><a href="/detail/@video.Id" title="@video.Name">@video.Name</a></h4>
                                                <p class="text text-overflow text-muted hidden-xs">@video.Actor</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                @foreach (var mobile in recommend.RecommendsForMoblie)
                                {
                                    <li class="col-md-4 col-sm-4 col-xs-3 visible-xs">
                                        <div class="stui-vodlist__box">
                                            <a class="stui-vodlist__thumb lazyload" href="/detail/@mobile.Id" title="@mobile.Name" data-original="@mobile.Image"><span class="play hidden-xs"></span><span class="pic-text text-right">@mobile.Name</span></a>
                                            <div class="stui-vodlist__detail">
                                                <h4 class="title text-overflow"><a href="/detail/@mobile.Id" title="@mobile.Name">@mobile.Name</a></h4>
                                                <p class="text text-overflow text-muted hidden-xs">@mobile.Actor</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="stui-pannel_ft top-line visible-xs clearfix">
                        <a class="text-muted" href="/series/@recommend.SeriesType.Id">查看更多<span>@recommend.SeriesType.Name</span><i class="icon iconfont icon-more"></i></a>
                    </div>
                </div>
            </div>
            <!--遍历结束处-->
        }

        <div class="stui-pannel stui-pannel-bg hidden-sm hidden-xs clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head clearfix">
                        <h3 class="title"><img src="~/images/icon_26.png" />友情链接</h3>
                    </div>
                </div>
                <div class="stui-pannel_bd clearfix">
                    <div class="col-xs-1">
                        <ul class="stui-link__text clearfix">
                            <li><a class="text-muted" href="#" target="_blank">好看的电影</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
