@{
    ViewData["Title"] = "主页";
    ViewData["KeyWords"] = "千频影视,手机影院,最新电影";
    ViewData["Description"] = "千频影视是最新电影和热播电视剧免费在线观看的手机影院，这里为影迷提供全网最新最全无广告热门电影，最新热门美剧、韩剧、日剧等剧集在线观看！";
}

    
    <div class="row">
        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head clearfix">
                        <h3 class="title"><img src="~/images/icon_24.png" />最近更新</h3>
                    </div>
                </div>
                <div class="stui-pannel_bd clearfix">
                    <!--6个-->

                    <ul class="stui-vodlist clearfix">
                        @foreach (var recent in ViewBag.recents)
                        {
                            <li class="col-md-6 col-sm-4 col-xs-3">
                                <div class="stui-vodlist__box">
                                    <a class="stui-vodlist__thumb lazyload" href="/detail/@recent.Id" title="@recent.Name" style="background-image: url(&quot;@recent.Image &quot;);"><span class="play hidden-xs"></span><span class="pic-text text-right">@recent.Remark</span></a>
                                    <div class="stui-vodlist__detail">
                                        <h4 class="title text-overflow"><a href="/detail/@recent.Id" title="@recent.Name">@recent.Name</a></h4>
                                        <p class="text text-overflow text-muted hidden-xs">@recent.Actor</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="stui-vodlist__text col-pd hidden-xs clearfix">
                        <!--12个-->
                        @foreach (var recent in ViewBag.recentsSim)
                        {
                            <li class="col-md-6 col-xs-4 padding-0"><a class="top-line-dot text-overflow" href="https://www.fff21.com/vod/48957.html" title="@recent.Name"><i class="icon iconfont icon-more pull-right text-muted"></i>@recent.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @foreach (var recommend in ViewBag.recommends)
        {
            <!--从此处遍历 分类-->
            <div class="stui-pannel stui-pannel-bg clearfix">
                <div class="stui-pannel-box clearfix">
                    <div class="stui-pannel_hd">
                        <div class="stui-pannel__head clearfix">
                            <a class="more text-muted pull-right" href="https://www.fff21.com/list/dianying.html">更多<i class="icon iconfont icon-more"></i></a>
                            <h3 class="title"><img src="~/images/@recommend.SeriesType.Icon" /><a href="https://www.fff21.com/show/dianying-----------.html">@recommend.SeriesType.Name</a></h3>
                            <!--电影分类-->
                            <ul class="nav nav-text pull-right hidden-sm hidden-xs">
                                @foreach (var category in recommend.CategoryTypes)
                                {
                                    <li><a href="https://www.fff21.com/list/dongzuopian.html" class="text-muted">@category.Name</a><span class="split-line"></span></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="stui-pannel_bd clearfix">
                        <div class="col-md-wide-4 col-xs-1 padding-0">
                            <div class="carousel carousel_default col-pd flickity-enabled is-draggable" tabindex="0">
                                <div class="flickity-viewport" style="height: 0px; touch-action: pan-y;">
                                    <div class="flickity-slider" style="left: 0px;"></div>
                                </div>
                                <ol class="flickity-page-dots"></ol>
                            </div>
                            <div class="hidden-sm hidden-xs clearfix">
                                <!--top 1 图片-->
                                <ul class="col-xs-wide-45 stui-vodlist col-pd clearfix">
                                    <li><a class="stui-vodlist__thumb lazyload" href="https://www.fff21.com/vod/41820.html" title="@recommend.RecommendTops[0].Name" style="background-image: url(&quot;@recommend.RecommendTops[0].Image &quot;);"><span class="play active hidden-xs"></span><span class="pic-tag pic-tag-h">Top1</span></a></li>
                                </ul>
                                <!--电影排行榜-->
                                <ul class="col-xs-wide-55 stui-vodlist__rank col-pd clearfix">
                                    @{
                                        string[] classes = new string[] { "badge-first", "badge-second", "badge-third", "", "", "", "", "", "", "" };
                                    }
                                    @for(int index=1;index<recommend.RecommendTops.Count;index++)
                                    {
                                        <li><a href="https://www.fff21.com/vod/41820.html" title="@recommend.RecommendTops[index-1].Name"><div class="text text-overflow hidden-xs;width:60%" style="word-break: keep-all;white-space:nowrap;"><span class="badge @classes[index-1]">@index</span>@recommend.RecommendTops[index-1].Name</div></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-wide-6 col-xs-1 padding-0">
                            <!--电影带图片推荐4个-->
                            <ul class="stui-vodlist clearfix">
                                @foreach(var video in recommend.Recommends)
                                    {
                                    <li class="col-md-4 col-sm-4 col-xs-3">
                                        <div class="stui-vodlist__box">
                                            <a class="stui-vodlist__thumb lazyload" href="https://www.fff21.com/vod/49120.html" title="@video.Name" style="background-image: url(&quot;@video.Image &quot;);"><span class="play hidden-xs"></span><span class="pic-text text-right">@video.Name</span></a>
                                            <div class="stui-vodlist__detail">
                                                <h4 class="title text-overflow"><a href="https://www.fff21.com/vod/49120.html" title="@video.Name">@video.Name</a></h4>
                                                <p class="text text-overflow text-muted hidden-xs">@video.Actor</p>
                                            </div>
                                        </div>
                                    </li>
                                    }
                            </ul>
                        </div>
                    </div>
                    <div class="stui-pannel_ft top-line visible-xs clearfix">
                        <a class="text-muted" href="https://www.fff21.com/show/dianying-----------.html">查看更多电影<i class="icon iconfont icon-more"></i></a>
                    </div>
                </div>
            </div>
            <!--遍历结束处-->
        }

        <div class="stui-pannel stui-pannel-bg hidden-sm hidden-xs clearfix">
            <div class="stui-pannel-box">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head clearfix">
                        <h3 class="title"><img src="~/images/icon_26.png" />友情链接</h3>
                    </div>
                </div>
                <div class="stui-pannel_bd clearfix">
                    <div class="col-xs-1">
                        <ul class="stui-link__text clearfix">
                            <li><a class="text-muted" href="https://www.fff21.com/play/6970295/" target="_blank">好看的电影</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/3848221/" target="_blank">好看的电视剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/8560033/" target="_blank">最新电影</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/05900579/" target="_blank">最新国产剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/7357159/" target="_blank">经典高分电影</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/0129501/" target="_blank">迅雷电影下载</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/82938932/" target="_blank">最新韩剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/34734782/" target="_blank">最新美剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/6662377/" target="_blank">电影天堂</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/27846458/" target="_blank">最新港剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/27766708/" target="_blank">电影港</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/14649431/" target="_blank">高清电影下载</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/19732414/" target="_blank">66影视</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/2999458/" target="_blank">面包网</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/6263833/" target="_blank">6v电影</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/75730783/" target="_blank">第一影院</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/8936251/" target="_blank">lol电影天堂</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/3943937/" target="_blank">最新动作片</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/42478762/" target="_blank">最新科幻片</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/1389786/" target="_blank">最新喜剧片</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/52445171/" target="_blank">最新爱情片</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/21164002/" target="_blank">最新剧情片</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/52620482/" target="_blank">最新战争片</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/5204990/" target="_blank">最新国产剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/5259767/" target="_blank">最新大陆剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/9880420/" target="_blank">最新动漫</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/5567188/" target="_blank">全集网</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/67119158/" target="_blank">破晓电影</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/1643131/" target="_blank">最新日剧</a></li>
                            <li><a class="text-muted" href="https://www.fff21.com/play/81069112/" target="_blank">最新恐怖片</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
