@{
    ViewData["Title"] = "留言板 - 千频影视";
    ViewData["KeyWords"] = "我想看,留言板 - 千频影视";
    ViewData["Description"] = $"留下你想观看的影视名称,或者说出你想说的话,我们将竭尽所能为你服务。 - 千频影视";
    string pageActive = "";
}
<div class="row">
    <div class="col-lg-wide-3 col-xs-1">
        <div class="stui-pannel stui-pannel-bg clearfix">
            <div class="stui-pannel-box clearfix">
                <div class="stui-pannel_hd">
                    <div class="stui-pannel__head clearfix">
                        <h3 class="title">我要留言</h3>
                    </div>
                </div>
                <div class="col-pd clearfix">
                    <form class="gbook_form">
                        <ul class="gbook-form">
                            <li><textarea class="form-control" name="content"></textarea></li>
                            <li style="margin-top:5%">
                                <input class="btn btn-primary pull-right message_submit" type="button" value="提交" />
                                <input type="text" name="verifycode" class="form-control" placeholder="验证码" style="width: 80px; display: inline-block; margin-right: 5px;" />
                                <img id="verify_img" src="/verify" alt="单击刷新" height="30" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-wide-7 col-xs-1">
        @foreach (var message in ViewBag.messages.Datas)
        {
            <div class="stui-pannel stui-pannel-bg clearfix">
                <div class="stui-pannel-box clearfix">
                    <div class="col-pd">
                        <div class="bottom-line">
                            <span class="text-muted pull-right">美好的留言</span>
                            <h4 class="title" style=" margin: 0 0 10px; padding-bottom: 10px;">游客-@message.Id</h4>
                        </div>
                        <p class="con">@message.Content</p>
                        <p class="text-muted font-12">@message.CreationTime</p>
                    </div>
                </div>
            </div>
        }

        <ul class="stui-page text-center clearfix">
            <li><a href="/message?page=1">首页</a></li>
            <li><a href="/message?page=@ViewBag.messages.PrePage">上一页</a></li>
            @foreach (var pageNum in ViewBag.messages.Pages)
            {
                @if (ViewBag.messages.CurrentPage == pageNum)
                    pageActive = "active"; 
                else
                    pageActive = ""; 
                <li class="hidden-xs @pageActive"><a href="/message?page=@pageNum">@pageNum</a></li>
            }

            <li class="active visible-xs"><span class="num">@ViewBag.messages.CurrentPage/@ViewBag.messages.MaxPage</span></li>
            <li><a href="/message?page=@ViewBag.messages.NextPage">下一页</a></li>
            <li><a href="/message?page=@ViewBag.messages.MaxPage">尾页</a></li>
        </ul>
    </div>
</div>