@{
    ViewData["Title"] = $"好看的{ViewBag.seriesName}大全 - 千频影视";
    ViewData["KeyWords"] = $"{ViewBag.seriesName}，免费{ViewBag.seriesName}，热播{ViewBag.seriesName}，{ViewBag.seriesName}在线观看";
    ViewData["Description"] = "为您提供最新{ViewBag.seriesName}免费在线观看的手机影院，这里为影迷提供全网最新最全无广告热门{ViewBag.seriesName}在线观看！";
    ViewBag.Url = $"?CategoryId={ViewBag.vo.CategoryId}&AreaName={ViewBag.vo.AreaName}&Year={ViewBag.vo.Year}&Language={ViewBag.vo.Language}&Letter={ViewBag.vo.Letter}";
}


<div class="row">
    <div class="stui-pannel stui-pannel-bg clearfix">
        <div class="stui-pannel-box">
            <div class="stui-pannel_hd">
                <ul class="stui-screen__list type-slide bottom-line-dot clearfix" id="category">
                    <li>
                        <span class="text-muted">按类型</span>
                    </li>
                    @{ 
                        string CategoryActive = "";
                        string CategoryAll = "";
                        if (ViewBag.vo.CategoryId == null)
                            CategoryAll = "active";
                    }
                    <li class="@CategoryAll">
                        <a href="?AreaName=@ViewBag.vo.AreaName&Year=@ViewBag.vo.Year&Language=@ViewBag.vo.Language&Letter=@ViewBag.vo.Letter">全部</a>
                    </li>
                    @foreach (var category in ViewBag.categories)
                    {
                        @if(category.Id == ViewBag.vo.CategoryId)
                        {
                            CategoryActive = "active";
                        }
                        else
                        {
                            CategoryActive = "";
                        }
                        <li class="@CategoryActive">
                            <a href="?CategoryId=@category.Id&AreaName=@ViewBag.vo.AreaName&Year=@ViewBag.vo.Year&Language=@ViewBag.vo.Language&Letter=@ViewBag.vo.Letter" class="text-muted">@category.Name</a>
                        </li>
                    }

                </ul>
                <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                    <li>
                        <span class="text-muted">按年份</span>
                    </li>
                    @{ 
                        string YearActive = "";
                        string YealAll = "";
                        if (ViewBag.vo.Year == null)
                            YealAll = "active";
                    }
                    <li class="@YealAll">
                        <a href="?CategoryId=@ViewBag.vo.CategoryId&AreaName=@ViewBag.vo.AreaName&Language=@ViewBag.vo.Language&Letter=@ViewBag.vo.Letter">全部</a>
                    </li>
                    @for(int y=2010; y<=2020; y++)
                    {
                        @if(y.ToString() == ViewBag.vo.Year)
                        {
                            YearActive = "active";
                        }
                        else
                        {
                            YearActive = "";
                        }
                        <li class="@YearActive">
                            <a href="?CategoryId=@ViewBag.vo.CategoryId&AreaName=@ViewBag.vo.AreaName&Year=@y&Language=@ViewBag.vo.Language&Letter=@ViewBag.vo.Letter">@y</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="stui-pannel stui-pannel-bg clearfix">
        <div class="stui-pannel-box">
            <div class="stui-pannel_hd">
                <div class="stui-pannel__head active bottom-line clearfix">
                    <ul class="nav nav-head">
                        <li class="active">
                            <a href="#">按时间</a>
                        </li>
                        <li>
                            <a href="#">按人气</a>
                        </li>
                        <li>
                            <a href="#">按评分</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="stui-pannel_bd">
                <ul class="stui-vodlist clearfix">
                    @foreach (var vod in ViewBag.vods.Datas)
                    {
                        <li class="col-md-6 col-sm-4 col-xs-3">
                            <div class="stui-vodlist__box">
                                <a class="stui-vodlist__thumb lazyload" href="/detail/@vod.Id" title="@vod.Name" data-original="@vod.Image">
                                    <span class="play hidden-xs"></span>
                                    <span class="pic-text text-right">@vod.Remark</span>
                                </a>
                                <div class="stui-vodlist__detail">
                                    <h4 class="title text-overflow">
                                        <a href="/detail/@vod.Id" title="@vod.Name">@vod.Name</a>
                                    </h4>
                                    <p class="text text-overflow text-muted hidden-xs">@vod.Actor</p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <ul class="stui-page text-center clearfix">
        <li>
            <a href="@ViewBag.Url&Page=1">首页</a>
        </li>
        @{
            var PageActive = "";
            int prePage = ViewBag.vods.CurrentPage - 1;
            int nextPage = ViewBag.vods.CurrentPage + 1;
            if (ViewBag.vods.CurrentPage <= 1)
                prePage = 1;
            if (ViewBag.vods.CurrentPage >= ViewBag.vods.MaxPage)
                nextPage = ViewBag.vods.MaxPage;
        }
        <li>
            <a href="@ViewBag.Url&Page=@prePage">上一页</a>
        </li>
        @foreach (var pageNum in ViewBag.vods.Pages)
        {

            @if (ViewBag.vods.CurrentPage == pageNum)
            { PageActive = "active"; }
            else
            { PageActive = ""; }
            <li class="hidden-xs @PageActive">
                <a href="@ViewBag.Url&Page=@pageNum">@pageNum</a>
            </li>
        }
        <li class="active visible-xs">
            <span class="num">@ViewBag.vods.CurrentPage/@ViewBag.vods.MaxPage</span>
        </li>

        <li>
            <a href="@ViewBag.Url&Page=@nextPage">下一页</a>
        </li>
        <li>
            <a href="@ViewBag.Url&Page=@ViewBag.vods.MaxPage">尾页</a>
        </li>
    </ul>
</div>
